body {
	background-color: red;
	font: 14pt/1.4 arial;
	color: white;
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	color: white;
	font: 18pt/1.4 arial;
	font-weight: bold;
}
a {
	color: darkgrey;
}
p {
	color: white;
	font: 14pt/1.4 arial;
	padding-bottom: 5px;
	max-width: 450px;
}
button {
	background-color: white; 
	font: arial;
	font-weight: bold;
	font: 14pt/1.4 arial;

}